@model List<theBoat>
@{
    ViewData["Title"] = "Toutes les Fermetures";

    List<theBoat> boats = Model;
    boats.Sort((s1, s2) => DateTimeOffset.Compare(s1.ClosingDate, s2.ClosingDate));
}

<div class="container-md shadow m-3">
    <ul class="list-group">
        @foreach (var boat in boats)
        {
            <li class="list-group-item">
                <p>@boat.BoatName</p>
                <p>@boat.ClosingDate</p>
            </li>
        }
    </ul>
</div>